/*styling for monopoly*/
	
	.buy-button:hover{
		background-color: #FFD800;
		box-shadow: 0px 0px 10px grey;
		-webkit-animation: trade-hover 1s;
		cursor: pointer;
		color: white;
		border: 2px solid black;
		border-radius: 5px;
		transform: scale(1.01,1.01);
		-webkit-transition: all 0.3s ease-in-out;
	}
	
	.buy-button{
		background-color: #ECDE8F;
		color: grey;
		margin: 5px;
		height: 10%;
		display: inline-block;
		border: 2px solid grey;
		width: 20%;
		border-radius: 5px;
		transition: all 0.3s ease-in-out;
		/*position: relative;*/
	}
	
	.log{
		height: 600px;
		width: 300px;
		left: 10%;
		top: 80%;
		font-family: Comic Sans MS, cursive, sans-serif;
		position: absolute;
		border: 2px solid #cc9900;
		text-align: center;
	}
	
	.select-menu { /*this overlays the function-box div and when you press the div button, it appears*/
		text-align: center;
		position: absolute;
		left: calc(50% - 275px);
		width: 475px;
		height: 238px;
		border: 2px solid SlateBlue;
		top: 907px;
		font-family: Comic Sans MS, cursive, sans-serif;
		margin: 4px;
		display: none;
	}
	
	.trade-button:hover {
		background-color: SlateBlue;
		box-shadow: 0px 0px 10px grey;
		-webkit-animation: trade-hover 1s;
		cursor: pointer;
		color: white;
		border: 2px solid black;
		border-radius: 5px;
		transform: scale(1.01,1.01);
		-webkit-transition: all 0.3s ease-in-out;
		/*transition: all 0.3s ease-in-out; dont put this here because it won't work*/
		
		/*transition: box-shadow 0.3s ease-in-out;
		transition: background-color 0.3s ease-in-out;
		transition: color 0.3s ease-in-out;
		transition: border 0.3s ease-in-out;*/
	}
	
	.trade-button {
		/*box-shadow: 0 1px 2px grey;*/
		background-color: #A99DD0;
		width: 20%;
		height: 10%;
		margin: 5px;
		color: grey; 
		border: 2px solid grey;
		border-radius: 5px;
		transition: all 0.3s ease-in-out; /*all instead of doing a transtion line for each*/
		display: inline-block;
	}
	
	.hotel {
		background-color: black;
		height: 10px;
		width: 80%;
		/*margin-left: 2px;
		margin-right: 2px;*/
		margin: 2px;
		position: relative;
		display: inline-block;
	}
	
	.housePlot {
		/*background-color: red;*/
		border: 2px solid #cc9900; 
		height: 20%; 
		width: 100%;
	}
	
	.house {
		background-color: black;
		height: 10px;
		width: 20%;
		/*margin-left: 2px;
		margin-right: 2px;*/
		margin: 2px;
		position: relative;
		display: inline-block;
	}
	
	.piece1 {
		background-color: red;
		width: 20px;
		height: 10px;
		border-radius: 50%;
		top: 1%;
		position: relative;
	}
	
	.piece2 {
		background-color: blue;
		width: 20px;
		height: 10px;
		border-radius: 50%;
		position: relative;
		top: 10%;
	}
	
	.piece3 {
		background-color: yellow;
		width: 20px;
		height: 10px;
		border-radius: 50%;
		position: relative;
		top: 20%;
	}
	
	.piece4 {
		background-color: green;
		width: 20px;
		height: 10px;
		border-radius: 50%;
		position: relative;
		top: 30%;
	}
	
	/* popup container - can be anything you want */
	.popup {
		position: relative;
		display: inline-block;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	/* teh actual popup */
	.popup .popuptext {
		visibility: hidden;
		width: 160px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 8px 0;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -80px;
	}
	
	/*popup arrow*/
	.popup .popuptext::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: #000000 transparent transparent transparent;
	}
	
	/* toggle this class - hide and show the popup */
	.popup .show {
		visibility: visible;
		-webkit-animation: fadeIn 1s;
		animation: fadeIn 1s;
	}
	
	/* add animation (fade in the popup) */
	@-webkit-keyframes fadeIn {
		from {opacity: 0;}
		to {opacity: 5;}
	}
	
	@keyframes fadeIn {
		from {opacity: 0;}
		to {opacity: 5;}
	}
	
	div.dice-button {
		position: absolute;
		background-color: #FFFFFF;
		width: 75px;
		height: 55px;
		border: 2px solid #000000;
		top: 45%;
		left: 70%;
		font-family: Comic Sans MS, cursive, sans-serif;
		font-size: 12px;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: 0 5px #000000;
	}
	div.dice-button:hover {
		background-color: #CDFF00;
		/*box-shadow: 0px 0px 10px #CDFF00 inset;*/
	}
	div.dice-button:active {
		background-color: #CDFF00;
  		box-shadow: 0 2px #000000;
  		transform: translateY(3px);
	}
	
	.diceContainer {
		background-color: #BBBBBB;
		border: 2px solid black;
		position: absolute;
		bottom: 0px;
		height: 35%;
		width: 300px;
		margin: 20px;
		text-align: center;
	}
	
	.die {
		display: inline-block;
		margin: 20px;
		background-color: white;
		height: 80px;
		width: 80px;
		border-radius: 5px;
		border: 1px solid #000000; 
		box-shadow: 0 40px white;
	}
	
	.function-container {
		border: 2px solid black;
		margin: 2px;
		height: 40%;
		width: 475px;
		position: relative;
	}
	
	div.terminal{
		text-align: center;
		position: absolute;
		left: calc(50% - 275px);
		width: 550px;
		height: 600px;
		border: 2px solid #cc9900;
		top: 80%;
		font-family: Comic Sans MS, cursive, sans-serif;
	}
	
	/*syling for divs (spaces) in board--gold border, center text, font*/
	.sqr {
		border: 2px solid #cc9900;
		text-align: center;
		font-family: Comic Sans MS, cursive, sans-serif;
	}
  	body {
  		margin: 0;
  		padding: 10px;
  		background: #f1f1f1;
  		background-color:#993333;
  	}
  	/*Header*/
  	.header {
  		background-color:#ddd;
  		padding: 30px;
  		text-align: center;
  	}
  	/*style top navigation bar*/
  	.topnav {
  		overflow: hidden;
  		background-color: #333;
  	}
  	/*Style top nav links*/
  	.topnav a {
  		float: left;
  		display: block;
  		color: #f2f2f2;
  		text-align: center;
  		padding: 14px 16px;
  		text-decoration: none;
  	}
  	/*change color on hover*/
  	.topnav a:hover {
  		background-color: #ddd;
  		color: black;
  	}
  	/*card effect*/
  	.card {
  		background-color: white;
  		padding: 20px;
  		margin-top: 20px;
  	}
  	/*clear floats after the columns
  	.row:after {
  		content: "";
  		display: table;
  		clear: both;
  	}*/
  	/*footer*/
  	.footer {
  		padding: 20px;
  		text-align: center;
  		background: #ddd;
  		margin-top: 20px;
  	}
  	/*dropdown for when you hover over the spaces*/
  	.dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 220px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        background-color: lightgray;
        border: 1px;
        border-style: solid;
        border-radius: 30px;
        border-color: #cc9900;
        font-size: 12px;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
