
	@import url('https://fonts.googleapis.com/css?family=Song+Myung');

		/*html {
			position: fixed;
			min-width: 100vw;
		}*/
		body {
			margin: 0; /*this, combined with 'height: 100vh;' and 'width: 100vw;' sizes the
									file to the entire window size, and gets rid of any browser default margins*/
			/*text-align: center;*/
			/*font-size: 10pt;*/
			background-color: rgb(255, 255, 244);
			/*************
			Stole this color from Tracksmith's website :))
			*************/
			font-family: 'Song Myung', serif;
		}
 		.grid-container {
 			display: grid;
 			/*grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
			grid-template-rows: repeat(11, auto);*/
			grid-template-columns: repeat(11, 100px);
			grid-template-rows: repeat(11, 100px);
 			/*grid-gap: 1%;*/
 			background-color: #A8FFDE;
			height: 1100px;
			width: 1100px;
			/*height: 90vh;
 			width: 90vw;*/
			border: solid 2px black;
 		}
 		.grid-container > div {
			border: solid 1px black;
			text-align: center;
 		}

		.middle {
			grid-column-start: 2;
			grid-column-end: 11;
			grid-row-start: 2;
			grid-row-end: 11;
			background-color: #A8FFDE;

		}

		#log-container {
			margin-left: 50px;
			margin-right: 50px;
			width: 800px;
			display: grid;
			grid-template-columns: 250px 300px 250px;
			grid-template-rows: 100px 100px;
			border: 1px solid black;
			/*grid-column-gap: 5px;
			grid-row-gap: 5px;*/
			position: sticky;
			position: -webkit-sticky;
			top: 0;
		}

		#log-container div {
			margin: 2px;
		}

		#log {
			/*margin: 5px;*/
			border: 3px double brown;
			/*width: 500px;
			height: 200px;*/
			background-color: rgb(255, 255, 244);
			/*display: inline-block;*/
			/*position: sticky;
			position: -webkit-sticky;
			top: 0;*/
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 3;
			overflow: auto;
		}

		#progress-container {
			margin: 0; /* this should override the margin: 2px; in #log-container > div but it doesnt */
			width: 100%;
			height: 5px;
			background: #ccc;
		}

		#progress-bar {
			margin: 0; /* this should override the margin: 2px; in #log-container > div but it doesnt */
  		height: 5px;
  		background: #4caf50;
  		width: 0%;
			position: sticky;
			position: -webkit-sticky;
			top: 0;
		}

		#diceBtn {
			/*margin: 5px;*/
			/*height: 75px;
			width: 150px;*/
			background-color: white;
			/*display: inline-block;*/
			border: 1px solid black;
			/*position: sticky;
			position: -webkit-sticky;
			top: 0;*/
			cursor: pointer;
			transition: 0.3s
		}

		/*#diceBtn:hover {
			background-color: black;
			color: white;
		}*/

		#tradeBtn {
			background-color: purple;
			cursor: pointer;
			border: 1px solid purple;
			transition: 0.3s
		}

		/*#tradeBtn:hover {
			background-color: white;
			color: purple;
		}*/

		#buyBtn {
			background-color: green;
			cursor: pointer;
			border: 1px solid green;
			transition: 0.3s;
		}

		/*#buyBtn:hover {
			background-color: white;
			color: green;
		}*/

		#endBtn {
			background-color: red;
			cursor: pointer;
			border: 1px solid red;
			transition: 0.3s;
		}

		/*#endBtn:hover {
			background-color: white;
			color: red;
		}*/

		.property-container {
			border: solid 2px black;
			height: 20%;
			text-align: center;
			/**********
			method i tried to make the 'pieces' vertically aligned:
			display: flex;
			align-items: center;
			************/
		}

		.house {
			margin: 2px;
			background-color: black;
			height: 10px;
			width: 10px;
			color: white;
			display: inline-block;
			position: relative;
			/**********
			method i tried to make the 'pieces' vertically aligned:
			vertical-align: middle;
			************/
			top: 3px; /*I do this to vertically align the 'pieces' because I don't need
									to make a fluid site*/
		}

		.brownstone {
			margin: 2px;
			background-color: black;
			height: 10px;
			width: 70px;
			color: white;
			display: inline-block;
			position: relative;
			top: 3px;
		}

		p {
			padding: 0;
			margin: 0;
		}

		.community-chest {
			font-size: 10pt;
		}

		.dropdown {
			position: relative;
			/*display: inline-block;*/
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			width: 170px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			padding: 12px 16px;
			z-index: 1;
			background-color: lightgray;
			border: solid 1px #cc9900;
			border-radius: 30px;
			font-size: 12px;
		}

		/*.dropdown:hover .dropdown-content {
			display: block;
		}*/

		.dashboard {
			height: 100vh;
			width: 0;
			position: fixed;
			z-index: 3;
			top: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.7);
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
		}

		.dashboard p {
			padding: 8px 8px 8px 125px;
			text-decoration: none;
			font-size: 25px;
			color: green;
			display: block;
			transition: 0.3s;
			cursor: pointer;
		}

		.dashboard p:hover{
			color: yellow;
		}

		.dashboard a {
			padding: 8px 8px 8px 125px;
			text-decoration: none;
			font-size: 25px;
			color: green;
			display: block;
			transition: 0.3s;
			cursor: pointer;
		}

		.dashboard a:hover{
			color: yellow;
		}

		.dashboard .closebtn {
			position: absolute;
			top: 0;
			font-size: 36px;
			padding-left: 32px;
		}

		.openBtn {
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
			position: fixed;
			background-color: black;
			color: white;
			z-index: 1;
			padding: 10px;
			width: 70px;
			transition: 0.2s;
		}

		@media screen and (max-height: 450px){
			.dashboard {padding-top: 15px;}
			.dashboard p {font-size: 18px;}
			.dashboard a {font-size: 18px;}
		}

		.player-holder {
			bottom: 0;
			position: absolute;
			/*border: 2px solid black;*/
			width: auto;
		}

		.player {
			margin: 2px;
			background-color: black;
			height: 10px;
			width: 10px;
			color: white;
			display: inline-block;
			position: relative;
			top: 3px;
		}

		#buy-menu {
			width: 400px;
			height: 0;
			background-color: rgb(255, 255, 244);
			z-index: 1;
			left: 350px;
			position: fixed;
			top: 0;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
			border: dotted 3px green;
			display: none;
			padding: 10px;
		}

		#buy-menu .closebtn {
			font-size: 25px;
			transition: 0.3s;
			width: 25px;
		}

		#buy-menu .closebtn:hover {
			color: green;
			cursor: pointer;
		}

		#trade-menu {
			width: 400px;
			height: 0;
			background-color: rgb(255, 255, 244);
			z-index: 2;
			left: 350px;
			position: fixed;
			top: 0;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
			border: dotted 3px purple;
			display: none;
			padding: 10px;
		}

		#trade-menu .closebtn {
			font-size: 25px;
			transition: 0.3s;
			width: 25px;
		}

		#trade-menu .closebtn:hover {
			color: purple;
			cursor: pointer;
		}

		#jail {
			background-color: orange;
			border: solid 1px black;
			position: absolute;
			width: 80px;
			height: 65px;
			right: 0;
			top: 0;
		}

		#get-out-of-jail-prompt {
			display: grid;
			grid-template-columns: 200px 200px;
			grid-template-rows: 100px 100px;
			border: 3px dotted orange;
			width: 400px;
			position: fixed;
			z-index: 1;
			background-color: rgb(255, 255, 244);
			left: 350px;
			top: 0;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
			display: none;
		}

		#get-out-of-jail-prompt > div {
			border: solid 1px black;
			background-color: orange;
			padding-top: 40px;
			text-align: center;
			cursor: pointer;
			margin: 4px;
		}

		#get-out-of-jail-prompt > p {
			grid-column-start: 1;
			grid-column-end: 3;
			text-align: center;
			padding: 30px;
		}

		.menu-header {
			margin: 0;
			text-align: center;
			padding: 10px;
			cursor: grab;
			background-color: #88E7FF;
		}
		.menu-header:active {
			cursor: grabbing;
		}

		#player-window {
			border: 3px dotted brown;
			background-color: rgb(255, 255, 244);
			left: 350px;
			top: 0;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
			width: 400px;
			position: fixed;
			z-index: 1;
			display: none;
			overflow: auto;
		}

		#player-window > .closebtn {
			/*position: absolute;*/
			top: 0;
			font-size: 26px;
			padding: 10px;
			cursor: pointer;
			transition: 0.3s;
		}

		#player-window > .closebtn:hover {
			color: brown;
		}

		#house-rules {
			border: 3px dotted #88E7FF;
			background-color: rgb(255, 255, 244);
			left: 250px;
			top: 0;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
			width: 600px;
			position: fixed;
			z-index: 1;
			display: none;
		}

		#house-rules > .closebtn {
			position: absolute; /*this makes it inline with 'HOUSE RULES'*/
			top: 0;
			font-size: 26px;
			padding: 5px 0 0 5px;
			cursor: pointer;
			transition: 0.3s;
		}

		#house-rules > .closebtn:hover {
			color: #88E7FF;
		}
